:root{
  font-family: "Comfortaa";
  cursor: grab;
}

button {
    position: inline-block;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
    padding: 10px 12px;
    margin-top: 14px;
  }

button:hover{
  background-color: #fff;
  color: #0a0a23;
  cursor: grab;
  border: 1px solid #0a0a23;
}

input{
  border: 1px solid #0a0a23;
  border-radius: 10px;
  padding: 10px 12px;
  margin-top: 14px;
}

a{
  color: #0a0a23;
  text-decoration: none ;
}

h1,label{
  color: #0a0a23;
}